<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30001">
		<setting id="appearance" type="select" label="30002" values="-|Embossed" default="-" />
		<setting id="fanart" type="bool" label="30003" default="true" />
		<setting id="infoLang" type="select" label="30004" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" default="en" />
		<setting id="auto_play" type="bool" label="30136" default="false" />
		<setting id="downloads" type="folder" label="30005" default="" />
	</category>
	<category label="30133">
		<setting type="lsep" label="30007" />
		<setting id="trakt_enabled" type="bool" label="30008" default="false" />
		<setting id="trakt_user" type="text" label="30009" default="" enable="false" visible="eq(-1,true)" />
		<setting type="lsep" label="30010" visible="eq(-2,true)" />
		<setting type="lsep" label="[CR]" />
		<setting type="lsep" label="30011" />
		<setting id="imdb_user" type="text" label="30012" default="" />
		<setting id="imdb_nickname" type="text" label="30013" default="" enable="false" visible="!eq(-1,)" />
		<setting type="lsep" label="[CR]" />
		<setting type="lsep" label="30017" />
		<setting id="tmdb_apikey" type="text" label="30018" default="" />
	</category>
	<category label="30134">
		<setting id="player_notify" type="bool" label="30135" default="false" />
		<setting type="lsep" label="[CR]" />
		<setting type="lsep" label="30014" />
		<setting id="pushbullet_apikey" type="text" label="30015" default="" />
		<setting id="pushbullet_email" type="text" label="30016" default="" enable="false" visible="!eq(-1,)" />
	</category>
	<category label="30019">
	</category>
	<category label="30020">
	</category>
</settings>
